<div class="container">
  <form ng-submit="submit()" action="fileupload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input #fileInput type="file" name="filetoupload" class="file">
      <div class="input-group col-xs-12">
        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
        <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
        <span class="input-group-btn">
          <button (click)="selectFile()" class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
        </span>
      </div>
    </div>
    <input class="btn btn-primary" type="submit" id="submit" value="Submit" />
  </form>
</div>
